<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Moja Kolekcja Filmów</title>
    <link rel="stylesheet" href="/styles/style.css">
</head>

<body>
    <%- include('partials/nav') %>
        <h1>Witaj w Mojej Kolekcji Filmów</h1>
</body>

</html>